.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 110px;
}

.main {
    width: 65%;
}

.cart__title {
    margin-top: 137px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.cart__catalog {
    margin: 0px auto;
    margin-top: 6px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 230px;
    padding-top: 42px;
    padding-bottom: 38px;
    border-bottom: 1px solid #A8AFBB;
}

.item-img {
    max-width: 125px;
    max-height: 150px;
    width: 100%;
    height: 100%;
}

.item-desc {
    width: 274px;
    margin-left: -40px;
    line-height: 21px;
}

.item-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-left: 40px;
    margin-right: -15px;
    border: 1px solid#A8AFBB;
}

.increase-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid#A8AFBB;
    border-right: none;
}

.counter {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.decrement-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid#A8AFBB;
    border-left: none;
}

.item-price {
    margin-left: 60px;
    font-size: 18px;
    font-weight: 700;
}

.cart__btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    width: 40px;
    height: 40px;
}

.svg{
    stroke: black;
}

.cart__btn-delete:hover, .decrement-counter:hover, .increase-counter:hover {
    background-color: #296DC1;
    transition: all 0.32s ease-out;
}

.cart__btn-delete:hover svg {
    stroke: white;
    transition: all 0.32s ease-out;
}

.decrement-counter:hover svg{
    stroke: white;
    transition: all 0.32s ease-out;
}

.increase-counter:hover svg{
    stroke: white;
    transition: all 0.32s ease-out;
}

.blocked {
    pointer-events: none;
    opacity: 0.5;
}

.blocked:hover {
    background-color: #296DC1;

}

.total-price {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-right: 45px;
}

.feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -48px;
    margin-bottom: 110px;
    width: 100%;
    height: 540px;
    background-color: #F2F5F9;
}

.feedback__title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 36px;
}

.feedback__form form {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 430px;
}

.feedback__form input,button {
    letter-spacing: 1.2px;
    height: 60px;
}

.feedback .feedback__form input {
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 20px 26px;
    margin-bottom: 38px;
    font-size: 16px;
    color: #535860;
}

.feedback__btn {
    box-sizing: border-box;
    border: none;
    height: 60px;
    width: 100%;
    background-color: #296DC1;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.5;
    pointer-events: none;
}

.feedback__btn-active {
    opacity: 1;
    pointer-events: auto;
}

p.name-err {
    display: flex;
    margin-top: -24px;
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 300;
    color: #E86880;
}

.feedback__form .input-err {
    border: 1px solid #E86880;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 3;
}


.popup__body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__area {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #282828;
    opacity: 0.4;
}

.popup__content {
    position: relative;
    z-index: 4;
    min-height: 230px;
    width: 511px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 44px 33px;
}

.popup__close {
    position: absolute;
    top: 18px;
    right: 18px;
}

.popup__title {
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    margin: 0px auto;
}

.popup__text {
    font-size: 16px;
    line-height: 21px;
    margin-top: 20px;
}

@media (max-width: 1680px) {
    .main {
        width: 85%;
    }
}

@media (max-width: 1440px) {
    .main {
        width: 70%;
    }
}

@media (max-width: 1400px) {
    .cart__item {
        position: relative;
        flex-direction: column;
        height: 640px;
        padding: 0px;
        margin-top: 35px;
        border-bottom: 1px solid #A8AFBB;
    }

    .item-img {
        max-width: 334px;
        max-height: 334px;
        width: 100%;
        height: 100%;
        order: 0;
    }

    .item-desc {
        width: 60%;
        text-align: center;
        margin: 0px;
        order: 1;
    }

    .item-price {
        margin: 0px;
        order: 2;
    }

    .item-counter {
        margin: 0px;
        order: 3;
    }

    .cart__btn-delete {
        width: 172px;
        height: 40px;
        background-color: #296DC1;
        margin: 0px;
        margin-bottom: 30px;
        order: 4;
    }

    .cart__btn-delete:hover {
        opacity: 0.85;
    }

    .cart__btn-delete svg{
        fill: #FFFFFF;
        stroke: #FFFFFF;
    }

    .cart__btn-delete::after {
        margin-left: 10px;
        content: "Удалить";
        color: #FFFFFF;
    }
}

@media (max-width: 1280px) {
    .main {
        width: 85%;
    }
}

@media (max-width: 752px) {
    .item-img {
        max-width: 400px;
        max-height: 400px;
    }

    .item-desc {
        margin-top: 0px;
        width: 270px;
    }

    .item-price {
        margin-top: 0px;
    }

    .item-counter {
        margin-top: 0px;
    }

    .total-price {
        display: flex;
        justify-content: center;
        margin-right: 0px;
        margin-top: 30px;
    }
}

@media (max-width: 582px) {
    .main {
        margin-top: 42px;
    }

    .popup__content {
        min-height: 256px;
        width: 278px;
        padding: 30px 20px;
    }
    
    .popup__close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .popup__title {
        font-size: 18px;
        line-height: 24px;
    }
    
    .popup__text {
        font-size: 16px;
        line-height: 21px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .cart__item {
        height: 440px;
    }
    
    .item-img {
        max-width: 200px;
        max-height: 200px;
    }

    .item-desc {
        width: 250px;
    }

    .cart__btn-delete svg{
        fill: #FFFFFF;
        stroke: #FFFFFF;
    }

    .feedback__form form {
        width: 290px;
    }
}

@media (max-width: 322px) {
    .cart__item {
        height: 460px;
    }

    .cart__title {
        font-size: 26px;
        margin-top: 80px;
    }
    .item-price {
        margin-top: 10px;
    }

    .item-counter {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
